---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <main class="content">
        <slot />
      </main>
    </div>
    <footer>
      <p>© 2023 - Weather App</p>
      <p>WebApps final project</p>
    </footer>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
  header {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    background-color: #11009e;
    font-family: "Rubik";
    font-size: 1.5em;
    color: white;
    height: 7rem;
  }
  header .weather-bar {
    margin-left: auto;
    margin-right: 3rem;
  }
  header form input {
    font-family: "Rubik";
    font-size: 1em;
    background-color: #8696fe;
    color: white;
    border: 2px solid white;
    border-radius: 0.3em;
    margin-right: 0.5em;
  }
  header form button {
    font-family: "Rubik";
    font-size: 1em;
    background-color: #4942e4;
    color: white;
    border: 2px solid white;
    border-radius: 0.3em;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header img {
    height: 5rem;
    margin: 1rem;
    margin-right: 3rem;
  }
  html {
    font-family: "Rubik";
    background-color: #8696fe;
  }
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content {
    flex: 1;
    padding-bottom: 4rem;
    padding-top: 5rem;
  }
  footer {
    background-color: #c4b0ff;
    color: white;
    font-family: "Rubik";
    font-size: 1.5em;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4rem;
  }
  footer p {
    margin-left: 2em;
    margin-right: 2em;
  }
</style>
